body {
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Overpass', sans-serif;
}

main {
  width: 300px;
  background-color: hsl(213, 19%, 18%);

  padding: 1.5rem;
  border-radius: 1.5rem;
}

h1 {
  color: hsl(0, 0%, 100%);

  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: hsl(217, 12%, 63%);

  font-weight: 400;
  font-size: 1rem;
}

.icon {
  background-color: #243b52;
  padding: 0.7rem;
  border-radius: 3rem;
}

.scoreInput {
  display: flex;
  justify-content: space-around;
}

.scoreInput input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.scoreInput label {
  background-color: #243b52;
  color: hsl(217, 12%, 63%);
  padding: 0.7rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.scoreInput label:hover {
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.scoreInput input[type='radio']:checked + label {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.button {
  background-color: hsl(25, 97%, 53%);
  border-radius: 3rem;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

#answer {
  display: none;

  flex-direction: column;
  text-align: center;
}

.standout {
  color: hsl(25, 97%, 53%);
  background-color: #243b52;
  border-radius: 3rem;
  padding: 0.2rem 2rem;
  width: max-content;
  margin: 20px auto;
}

#warningMessage {
  display: none;
  margin-bottom: 0;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: hsl(217, 12%, 63%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
